<div class="page-container">
  <div class="return" routerLink="/demo-tests">
    <svg width="15" height="26" viewBox="0 0 15 26" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M14.16 0.986667C14.0052 0.831456 13.8213 0.708313 13.6188 0.624291C13.4163 0.54027 13.1992 0.497021 12.98 0.497021C12.7608 0.497021 12.5437 0.54027 12.3412 0.624291C12.1387 0.708313 11.9548 0.831456 11.8 0.986667L0.720004 12.0667C0.596399 12.19 0.498336 12.3365 0.431427 12.4978C0.364518 12.6591 0.330078 12.832 0.330078 13.0067C0.330078 13.1813 0.364518 13.3542 0.431427 13.5155C0.498336 13.6768 0.596399 13.8233 0.720004 13.9467L11.8 25.0267C12.4533 25.68 13.5067 25.68 14.16 25.0267C14.8133 24.3733 14.8133 23.32 14.16 22.6667L4.50667 13L14.1733 3.33333C14.8133 2.69333 14.8133 1.62667 14.16 0.986667Z" fill="#282828" />
    </svg>
    Назад
  </div>
  @if (step() === 0) {
    <div class="page-wrapper">
      <div class="left-col">
        <span class="test-title">{{demoTest()?.title}}</span>
        <div class="questions">
          @for (q of questions(); track q.order) {
            <app-demo-test-question [id]="q.id" (onChoose)="answerQuestion($event)" [question]="q"></app-demo-test-question>
          }
        </div>
      </div>
      <app-demo-test-questions-block (onReady)="ready()" (onScroll)="scrollToQuestion($event)" [questions]="questions()"></app-demo-test-questions-block>
    </div>
  }
  @else if (step() === 1) {
    <span class="test-title">{{demoTest()?.title}}</span>
      <div class="desc-container">
        <span class="test-desc">{{demoTest()?.description}}</span>
        <img src="assets/images/demo-test-img.png" alt="" class="test-img">
      </div>
      <div class="test-info">
        <div class="info-title-container">
          <span class="info-title-text">Тест завершен</span>
          <span class="info-title-perc">{{percentage()}}%</span>
        </div>
        <span class="correct">Вы ответили верно на {{rightAnswers()}} из {{questions().length}}</span>
        <div class="actions">
          <button class="action second" (click)="reload()">Пересдать</button>
          <button class="action main" (click)="seeErrors()">Смотреть ошибки</button>
        </div>
      </div>
  }
  @else if (step() === 2) {
    <div class="page-wrapper">
      <div class="left-col">
        <span class="test-title">{{demoTest()?.title}}</span>
        <div class="questions">
          @for (q of questions(); track q.order) {
            <app-demo-test-question [showCorrect]="true" [userAnswerId]="findUserAnswer(q.id)" [id]="q.id" [question]="q"></app-demo-test-question>
          }
        </div>
      </div>
      <div class="test-info">
        <div class="info-title-container">
          <span class="info-title-text">Тест завершен</span>
          <span class="info-title-perc">{{percentage()}}%</span>
        </div>
        <span class="correct">Вы ответили верно на {{rightAnswers()}} из {{questions().length}}</span>
        <div class="actions">
          <button class="action second" (click)="reload()">Пересдать</button>
        </div>
      </div>
    </div>
  }
</div>