.page-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 28px;
  max-width: 72.96%;
  margin: 40px auto 82px auto;
}

.return {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 18px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  color: var(--black);
}

.test-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 42px;
  color: var(--black);
}

.test-desc {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  color: var(--black);
}

.page-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.left-col {
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.questions {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.desc-container {
  display: flex;
  align-items: center;
  gap: 52px;
  margin-top: 22px;
}

.actions {
  align-self: center;
  display: flex;
  align-items: center;
  gap: 20px;
}

.action {
  width: 300px;
  height: 69px;
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 24px;
  border-radius: 24px;

  &.main {
    background: var(--blue);
    border: none;
    color: var(--white);
  }
  &.second {
    background: var(--white);
    border: 3px solid var(--blue);
    color: var(--blue);
  }
}

.test-info {
  border-radius: 40px;
  width: 700px;
  padding: 30px 40px 50px 40px;
  box-shadow: 0 4px 140px 0 rgba(5, 118, 255, 0.1);
  background: var(--white);
  display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: center;
  align-self: center;
}

.page-wrapper {
  .test-info {
    align-self: flex-start !important;
    width: 460px !important;
  }
}

.info-title-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.info-title-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  color: var(--black);
}

.info-title-perc {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 100px;
  line-height: 90%;
  color: #9fcf18;
}

.correct {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  color: var(--black);
}