.block-container {
  border-radius: 40px;
  width: 460px;
  box-shadow: 0 4px 100px 0 rgba(5, 118, 255, 0.2);
  background: var(--white);
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 50px 40px;
}

.block-title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  color: var(--black);
}

.questions {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 28px;
}

.question {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  color: var(--black);
  cursor: pointer;
}

.ready {
  border-radius: 24px;
  width: 380px;
  height: 69px;
  background: var(--blue);
  border: none;
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 24px;
  color: var(--white);
  margin-top: auto;
}