<div class="block-container">
  <span class="block-title">Задания</span>
  <div class="questions">
    @for (q of questions; track q.order) {
      <span class="question" (click)="scroll(q.id)">{{q.order}}</span>
    }
  </div>
  <button class="ready" (click)="onReady.emit()">Завершить тест</button>
</div>