.question-container {
  border: 2px solid #b9b9b9;
  border-radius: 40px;
  width: 840px;
  background: var(--white);
  padding: 32px 32px 50px 32px;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.question-name {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  color: var(--black);
}

.answers {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.answer {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  color: var(--black);
  cursor: pointer;
  &.correct {
    color: #9fcf18 !important;
  }
  &.wrong {
    color: #e20c0c;
  }
}

.correct-answer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.correct-answer-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  color: var(--black);
}

.correct-answer-value {
  width: 100%;
  border-radius: 20px;
  padding: 25px 32px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  color: var(--black);
  background: #9fcf18;
}