<div class="question-container">
  <span class="question-name">{{question.order}}. {{question.question}}</span>
  <div class="answers">
    @for (a of question.answers; track $index) {
      <div class="answer" 
      [class.correct]="userAnswerId && a.id === userAnswerId && a.isCorrect" 
      [class.wrong]="userAnswerId && a.id === userAnswerId && !a.isCorrect" (click)="choose(a)">
        @if (userAnswerId === null) {
          @if (a.id === chosenAnswer()) {
            <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="21" cy="21" r="19.5" fill="white" stroke="#6E6E6E" stroke-width="3" />
              <circle cx="21" cy="21" r="10" fill="#0576FF" />
            </svg>
          }
          @else {
            <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="21" cy="21" r="19.5" stroke="#6E6E6E" stroke-width="3" />
            </svg>
          }
        }
        @else {
          @if (a.id === userAnswerId && !a.isCorrect) {
            <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="21" cy="21" r="21" fill="#E30C0C" />
              <path d="M9 9L33 32.5102" stroke="white" stroke-width="3" stroke-linecap="round" />
              <path d="M9 33L33 9.4898" stroke="white" stroke-width="3" stroke-linecap="round" />
            </svg>
          }
          @else {
            <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="21" cy="21" r="19.5" stroke="#6E6E6E" stroke-width="3" />
            </svg>
          }
        }
        {{a.text}}
      </div>
    }
  </div>
  @if (showCorrect) {
    <div class="correct-answer">
      <span class="correct-answer-text">Правильный ответ</span>
      <span class="correct-answer-value">{{correctAnswer}}</span>
    </div>
  }
</div>